#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.navbar {
  backdrop-filter: blur(5px); 
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.card {
  padding: 2em;
  background: rgba(255, 255, 255, 0.15); 
  border-radius: 12px;
  backdrop-filter: blur(5px); 
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
}



.logo:hover {
  filter: drop-shadow(0 0 2em #ff64c4aa);
  transform: scale(1.1);
}

.cart-btn {
  display: inline-block; 
  text-align: center; 
  padding: 10px 20px; 
  background-color: #ff9e00; 
  border: none; 
  color: #fff; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.cart-btn:hover {
  background-color: #e68a00; 
}

.loading-screen {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.8); 
  position: relative; 
  z-index: 10; 
}
.loading-image {
  width: 100px; 
  margin-bottom: 20px; 
}

.loading-screen h2 {
  font-size: 2rem;
  color: #ff9e00; 
}

.logo {
  width: 150px; 
  height: auto; 
  margin: 20px 0; 
}


html, body {
  height: 100%; 
  margin: 0; 
}

.app-container {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
  padding: 20px; 
}


.footer {
  background-color: #f8f9fa; 
  padding: 20px 0; 
  position: relative; 
}
